form table tr td:first-child {
width:79px;
text-align:center;
font-size:14px;
font-weight:bold;
}
#lstrecord_per_page{
width:50px;
}

.flag{
	cursor: pointer;
}
#passage{
	padding: 5px 0px 10px 0px;
	font-size: 14px;
	font-weight: bold;
}


