#txtquestion_id{
width:50px;
}
form table tr td:first-child {
width:38%;
text-align:center;
font-size:14px;
font-weight:bold;
}
.table_pagination {
width: 100px;

}
.td_pagination a:link {
-moz-box-shadow: inset 0px 1px 0px 0px #ccc;
-webkit-box-shadow: inset 0px 1px 0px 0px #888a85;
box-shadow: inset 0px 1px 0px 0px #ccc;
background-color: #f9f2b7;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #ccc;
display: inline-block;
color: #ffffff;
font-family: arial;
font-size: 12px;
font-weight: bold;
padding: 3px 15px;
text-decoration: none;
text-shadow: 1px 1px 0px #ccc;
}
.td_pagination a:hover {
background-color: #72767A;
}
