
#content{
min-height:400px;
/*display:inline-block;*/
background:#ffffff;
width:100%;
}

#dashboard_content h1{
margin:8px;
color:#000;
font-weight:bold;
}
#dashboard_content p{
margin:8px;
color:#000;
font-weight:bold;
}



#content > div{
/*float:right;*/
margin-top:20px;
margin-left:100px;
background:#ccc;
width:500px;
padding:10px;
min-height:350px;
}

form table {
width: 756px;
align: center;
margin-left: 120;

}