<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

<link rel="shortcut icon" href="<?php echo WEB_URL; ?>/images/layouts/default/favicon.ico" type="image/x-icon" />
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title><?php if (!empty($this->title)) echo $this->title ?></title>
  <?php if (!empty($meta)) echo $meta ?>
<link rel="stylesheet" href="<?php echo WEB_URL; ?>/style/default.css" type="text/css" media="screen" title="default" />
<link rel="stylesheet" href="<?php echo WEB_URL; ?>/style/form_table.css" type="text/css" media="screen" title="default" />
  <?php if (!empty($this->script)) echo $this->script ?>
  <?php if (!empty($this->style)) echo $this->style ?>
  <style type="text/css">
body{
 background-image:url(<?php echo WEB_URL; ?>/images/layouts/demo_test_design/default/inner_page_01.png);
 background-repeat:repeat-x;
}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=288458437926391";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</style>


</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="padding-top:0px">
<div id="loginsmall">
<div class="fb-like" data-href="https://www.facebook.com/pages/mydailytestcom/194165150765329?fref=ts" data-width="300" data-show-faces="true" data-send="false"></div>
<a  style="color:#333;" href="#">About Us</a>&nbsp;&nbsp;| &nbsp;&nbsp;
<a  style="color:#333;" href="#">FAQ</a>&nbsp;&nbsp;| &nbsp;&nbsp;
<a  style="color:#333;" href="#">Contact Us</a>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
<a style="color:#333;" href="<?php echo WEB_URL; ?>/login.php">Log in</a> &nbsp;&nbsp;| &nbsp;&nbsp;

<a  style="color:#333;" href="<?php echo WEB_URL; ?>/sign_up.php">Register</a>
</div>
<div id="wrapper">
<div id="header">
	<div id="logo"> <a href="<?php echo WEB_URL; ?>/index.php" ><img src="<?php echo WEB_URL; ?>/images/layouts/demo_test_design/logo.png"></a>	</div>
	
</div>
<div id="menu_bar">
	<?php if (isset($menu)) echo $menu ?>
</div>
<div id="content"> 
<?php if (isset($content)) echo $content; ?>
<?php if (isset($this->print_page)) echo $this->print_page;  ?>





<!--<div style="background-color:#2a2a2a" align="center"><img src="/images/layouts/demo_test_design/default/index_18.png"></div>
-->
</div>
</div>
<div style="background-color:#2a2a2a" id="footer">
</div>
</body>
</html>
