<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" href="/style/default.css" type="text/css" media="screen" title="default" />
<link rel="shortcut icon" href="/images/layouts/default/favicon.ico" type="image/x-icon" />
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login">
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
<?php if (isset($content)) echo $content; ?>
<?php if (isset($this->print_page)) echo $this->print_page;  ?>
	<!--  start login-inner -->
	<div id="login-inner">
    
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
	
 </div>
 <!--  end loginbox -->
 


	


</div>
<!-- End: login-holder -->
</body>
</html>
