form table tr td:first-child {
width:100px;
text-align:center;
font-size:14px;
font-weight:bold;
}

form table tr td:first-child+td+td {
font-size:14px;
font-weight:bold;
text-align:right;
}
.popup_form{
display:none;
}

.edit_verify_div{
float:right;
}



